body {
	
}
h1 {
	color: black;
}
p {
	color: red;
}
table, th, td {
	background-color: gray;
	border: 1px solid black;
	border-collapse: collapse;
	text-align:center;
	padding: 5px;
}
footer {
	font-family: verdana;
}
figure {
	position: relative;
	left: 300px;
}
section {
	position: relative;
	left: 100px;
}